footer{
    background-color: aliceblue;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    overflow: hidden;
}

.buttonContainer{
    position: absolute;
    right: 10px;
    background-color: #fafafa
}
    